<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tax.TaxMapper">

    <!-- 增加操作 -->
    <insert id="addTax" parameterType="tax.Tax">
        INSERT INTO tax_info (company, tax_number, room_number, company_address, telephone, bank_name, bank_number, money, email, remark ,phone_number, name,date)
        VALUES (#{company}, #{taxNumber}, #{roomNumber}, #{companyAddress}, #{telephone}, #{bankName}, #{bankNumber}, #{money}, #{email}, #{remark}, #{phoneNumber},#{name},#{date})
    </insert>

    <!-- 查询操作 -->
    <select id="selectAll" parameterType="map" resultType="tax.Tax">
     SELECT id, name, company, tax_number as taxNumber, room_number as roomNumber, company_address as companyAddress, telephone, bank_name as bankName, bank_number as bankNumber, money, email, remark,phone_number as phoneNumber, date_format(date, '%Y-%m-%d %H:%i') as dateString
    FROM tax_info
    <where>
        <if test="beginDate != null and endDate != null and beginDate !=''  and endDate !=''  ">
            date  &gt;=   STR_TO_DATE(#{beginDate}, '%Y-%m-%dT%H:%i:%s.%fZ')
        </if>
        <if test="beginDate != null and endDate != null and beginDate !=''  and endDate !=''  ">
           and  date  &lt;=   STR_TO_DATE(#{endDate}, '%Y-%m-%dT%H:%i:%s.%fZ')
        </if>
        <if  test="phoneNumber !=null and phoneNumber !=''" >
            AND phone_number = #{phoneNumber}
        </if>
        <if  test="name !=null and name !=''" >
            AND name = #{name}
        </if>
    </where>
    </select>
</mapper>